@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .5px;
    color: black;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: red;
    background-color: transparent;
    border: 3px solid red;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
.cta:hover{
    background-color: red;
    color: white;

}

h1{
    font-size:40px;
    font-weight: 400;
    margin-bottom: 10px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
h1 span{
    color: red;
}
.brand h1{
    font-size: 35px;
    text-transform: transparent;
    color: white;
}

/*hero section*/
#hero{
    background-image: url(./pics/church1.jpg);
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    opacity: .7;
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
}
#hero h1{
    display: block;
    width: fit-content;
    position: relative;
    color: transparent;
    font-size: 3rem;
    animation: text_reveal .5s ease forwards;
    animation-delay:1s;
}
#hero h1:nth-child(1){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    left: 0;
    background-color: red;
    animation: text_reveal_box 1s ease;
    animation-delay: .4s;
}
#hero h1:nth-child(1) span{
    animation-delay:.5s
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}

/*end of hero section*/

/*keyframes*/
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: red;
        font-weight: 300px;
    }
}
/*end of key frames*/

/*start of service section*/
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-bottom{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
#services .service-item{
    background-image: url("./pics/church2.jpg");
    background-size: cover;
    margin: 10px 5%;
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding:30px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item:after{
    content:'';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    color: black;
    opacity: .7;
    position: absolute;
    z-index: -1;
}
#services .service-item h2{
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .service-item p{
    color: white;
    text-align: left;
}
#services .service-item ol li{
    color: white;
    font-size: 15px;
    text-align: left;
}
/*end of service section*/

/*about section*/
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    padding: 100px 20px;
    max-width: 1200px;
}
#about .col-right{
    width: 100%;
} 
#about .col-right h2{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .04rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
}
#about .col-right .cta{
    margin-bottom: 50px;
    font-size: 15px;
    padding: 10px 20px;
}

/*end of about section*/

/*contact section*/
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 50%;
}
#contact .contact-item{
    width: 80%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 20px 0;
    margin: 30px;
    flex-direction: column;
    transition: .2s;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0;

}
#contact .icon{
    margin: o auto;
    margin-bottom: 10px;
    width: 70px;
}
#contact .contact-info h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 15px;
    font-weight: 500;
   line-height: 13px;
    margin-bottom: 5px;
}


/*end of contact section*/

/*footer section*/
#footer{
    background-image: linear-gradient(60deg, grey 0%, black 100%)
}
#footer .footer{
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 10px;
    flex-direction: column;
}
#footer h2{
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: .2px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin-bottom: 0 5px;
    border-spacing: 20px;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .2s ease filter;
}
#footer .social-item:hover img{
    filter: grayscale(0);
}
/*end of footer section*/

/*media query for tablet*/
@media only screen and (min-width: 770px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1{
        font-size: 6rem;
    }

    /*hero section*/
    #hero h1{
        font-size: 5rem;
    }
    /*end of hero section*/

    /*service section*/
    
     /* end of service section*/
}

/*end of media query for tablet*/